body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #4d4d4d;
  }
  
  #title {
    text-align: center;
  }
  
  #employee {
    border-collapse: collapse;
    border: 3px solid #ddd;
  }
  
  #employee td,
  #employee th {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  #employee tr:hover {
    background-color: #ddd;
  }
  
  #employee th {
    padding: 10px;
    text-align: center;
    background-color: #4caf50;
    color: white;
  }
  
  .opration {
    text-align: center;
  }
  
  .button {
    border: none;
    outline: none;
    
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: #f44336;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f44336;
    background-color: transparent;
  }
  
  .button:active {
    border: 1px solid blue;
  }
  .backButton{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 15%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 60%;
  }

  .row {
    

    border-collapse: collapse;
    border: 1px solid #ddd;
    display: flex;
    width: 80%;
    text-align: center;   
  }
  
  .col-sm {
    padding: 1px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ddd;
    flex: 50%;
    
  }
  .second_title{
      padding:5px;
      text-align: left;
  }